@page "/"
@using SpawnDev.Blazor.UnitTesting
@using System.Reflection

<PageTitle>Blazor.ThreeJs Unit Tests</PageTitle>
<div style="padding:20px;">
    <UnitTestsView TestAssemblies="_assemblies"></UnitTestsView>
</div>


@code {
    IEnumerable<Assembly>? _assemblies = new List<Assembly> {
        typeof(ThreeCoreTests).Assembly
    };
}